body
{
    font-family: 'Muli', sans-serif;
    margin: 0 !important;
    background-image: url("img/backgr2.png");
}

#logo
{
    font-family: 'Parisienne', cursive;
    text-align: center;
    padding-top: 3vw;
    padding-bottom: 3vw;
    font-size: 7vw;
    letter-spacing: 2px;
}

#container
{
    width: 90%;
    background-color: #ebebeb;
    margin-left: auto;
    margin-right: auto;
}

#footer
{
    background-color: rgb(83, 70, 70);
    width: 100%;
    padding-top: 2vw;
    padding-bottom: 2vw;
    text-align: center;
    font-size: 1.6vw;
    letter-spacing: 2px;
}

ol
{
    list-style-type: none;
    font-size: 2vw;
    transition: all .3s ease-out;
    width: 70%;
}

ol:hover
{
    -webkit-box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.75);
}

ol > a > li
{
    transition: all .3s ease-out;
    width: 30%;
}

ol > a > li:hover
{
    background-color: rgb(212, 212, 212);
    border-left: 5px solid rgb(83, 70, 70);
    cursor: pointer;
    letter-spacing: 4px;
    padding-left: 8px;
}

#line
{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border-top: 2px solid rgb(83, 70, 70);
}

a
{
    text-decoration: none;
    color: black;
}

h1
{
    text-align: center;
    font-size: 5vw;
    letter-spacing: 4px;
    color: rgb(163, 87, 87);
}

h2
{
    color: rgb(43, 50, 59);
}

h3
{
    text-align: center;
    font-size: 5vw;
    letter-spacing: 4px;
    color: rgb(137, 221, 117);
}

.img
{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

img
{
    width: 40%;
    height: 40%;
}

.ingredients
{
    padding: 10px;
    font-size: 1.6vw;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.recipe
{
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    text-justify: auto;
    padding: 10px;
    font-size: 2vw;
}

.p2
{
    text-align: center;
}

/*****************/
@media(max-width: 1000px)
{
    body
    {
        background-image: url("img/backgr.png");
    }

    #logo
    {
        font-size: 10vw;;
    }

    #line
    {
        border-top: 1px solid rgb(83, 70, 70);
        width: 80%;
    }

    ol
    {
        font-size: 3vw;
        padding: 0;
        margin-left: auto;
        margin-right: auto;
    }

    ol > li
    {
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        text-align: center;
    }

    ol > li:hover
    {
        border-right: 5px solid rgb(83, 70, 70);
    }
    
    .ingredients
    {
        font-size: 3vw;
    }
    
    .recipe
    {
        font-size: 3vw;
    }

    h1
    {
        font-size: 6vw;
    }

    img
    {
        width: 70%;
        height: 70%;
    }

}